.DS_Store

.env

.vscode/

auth/
my_venv/
data/

.vsls.json
.venv/

dist/
.terraform/

# Python cache files
__pycache__/
.mypy_cache/
.pytest_cache/
*.pyc
*.pyo
.ruff_cache/
*.local*
*.production*


logs/
.benchmarks/
node_modules/

# Cache directory
cache/
dist/
benchmark_results/